doctype html
html
    include ../includes/header-page.pug
    body
        include ../includes/header-body.pug
        main.container
            h1.bg-info.py-1.pl-2.text-light #{board}
            h2.h4.bg-secondary.text-center.py-1.text-white List of threads
            .border.border-dark.rounded.px-1.py-1#list-of-threads
                each thread in threads
                    .thread-item.border.border-info.p-1.mb-1(data-board=board data-thread=thread.id)
                        h2.h4.pl-2
                            a.text-decoration-none.text-dark(href='/api/replies/'+board+'?thread='+thread.id)=thread.text
                        .d-flex.justify-content-around.buttons.my-2
                            button.btn.btn-outline-secondary.btn-sm.thread-report-button(type='button' data-board=board data-thread=thread.id) Report the thread
                            button.btn.btn-outline-secondary.btn-sm.thread-display-button(type='button') Display last replies
                            button.btn.btn-outline-secondary.btn-sm.thread-delete-button(type='button') Show the deletion form
                        form.thread-deletion-form.d-none.border.border-danger.mt-2.px-2
                            h1.h5.m-1.text-center.text-danger Delete the thread
                            input.board(type='text' value=board required hidden)
                            input.thread(type='text' value=thread.id required hidden)
                            .form-group.mb-1
                                input.form-control.password.border.border-danger(type='password' placeholder='password to delete' required)
                            .form-group.mb-1.text-center
                                button.btn.btn-danger(type='submit') Delete
                        .replies.d-none.border.border-dark.rounded.px-1.py-1
                            h2.h5.bg-secondary.text-center.py-1.text-white List of replies
                            .list-of-replies 
                                each reply in thread.replies
                                    .reply-item.border.border-info.p-1.mb-1(data-board=board data-thread=thread.id data-reply=reply.id)
                                        .text-reply=reply.text
                                        .d-flex.justify-content-around.buttons.my-2
                                            button.btn.btn-outline-secondary.btn-sm.reply-report-button(type='button' data-board=board data-thread=thread.id data-reply=reply.id) Report the reply
                                            button.btn.btn-outline-secondary.btn-sm.reply-delete-button(type='button') Show the deletion form
                                        form.reply-deletion-form.d-none.border.border-danger.mt-2.px-2
                                            h1.h5.m-1.text-center.text-danger Delete the reply
                                            input.board(type='text' value=board required hidden)
                                            input.thread(type='text' value=thread.id required hidden)
                                            input.reply(type='text' value=reply.id required hidden)
                                            .form-group.mb-1
                                                input.form-control.password.border.border-danger(type='password' placeholder='password to delete' required)
                                            .form-group.mb-1.text-center
                                                button.btn.btn-danger(type='submit') Delete
                            form.border.border-primary.my-2.px-2.add-reply 
                                h1.h5.text-center Add a new reply
                                input.board(type='text' value=board required hidden)
                                input.thread(type='text' value=thread.id required hidden)
                                .form-group.mb-1
                                    textarea.form-control.text(placeholder='text reply' required)
                                .form-group.mb-1
                                    input.form-control.password(type='password' placeholder='password to delete' required)
                                .form-group.mb-1.text-center
                                    button.btn.btn-secondary(type='submit') Add
            form.border.border-primary.my-2.px-2#add-thread
                h1.h5.text-center Add a new thread
                input.board(type='text' value=board required hidden)
                .form-group.mb-1
                    input.form-control.thread(type='text' placeholder='thread text' required)
                .form-group.mb-1
                    input.form-control.password(type='password' placeholder='password to delete' required)
                .form-group.mb-1.text-center
                    button.btn.btn-secondary(type='submit') Add
        include ../includes/modal.pug
        include ../includes/footer-body.pug
        include ../includes/bootstrap-scripts.pug
        script(src='/scripts/thread-script.js')

